  body {
      background-color: beige;
      font-family: Arial, Helvetica, sans-serif;
  }

  hr {
      border-width: 3px;
  }

  h1 {
      color: rgb(83, 83, 222);
      -webkit-text-stroke: 0.5px black;
  }

  h2 {
      color: rgb(55, 175, 197);
      -webkit-text-stroke: 0.5px black;
  }